body {
  background-color: rgb(17, 37, 17);
  color: beige;
  font-family: 'Lora', serif;
  margin: 0px;
}
h2 {
  font-size: 2.5em;
}

/*HEADER*/
header{
  background-color: rgb(83, 8, 8);
}

h1{
  display: flex;
  font-size: 48px;
  margin: 16px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
  } 
nav ul {
    width: 500px;
    align-items: center;
  }

ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
    text-align: left;
}
ul a{
  color:beige;
  text-decoration:none;
}

ul a:hover{
    background-color: rgb(83, 8, 8);
    color: rgb(138, 138, 138);
    padding: 0.4em;
    text-decoration: underline;
}
#search { 
  font-family: 'Lora', serif;
  font-size: medium;
  border-radius: 8px;
  border-color: darkgreen;
  padding-left: 0.5em;
  background-color: beige;
}
/*BODY*/

#bs{
  text-shadow: 5px -5px 10px rgb(125, 4, 4);
}

.bestsellers-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.bestsellers-options{
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  width: 100%;
  margin-top: 3em;
}

.bestsellers{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.bestsellers img{
  width: 200px;
  height: 250px;
  border: 3px solid darkred;
  margin-bottom: 0.5em;
  border-radius: 16px;
}

.testimonial-section{
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.comments {
  margin-top: 2em;
}

.swiper {
  width: 550px;
  height: auto;
}

.swiper.swiper-slide.flex{
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper.swiper-slide.comments{
  padding: 1.5em;
  width: 50%;
  border-radius: 5px;
  font-size: 9em;
}

.swiper-slide {
  text-align: center;
}

.swiper.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper.profile>a{
  text-decoration: none;
  color: darkred;
}

.swiper-button-prev {
  color: darkred;
  position: relative;
  left: -300px;
  top: -123px;
}

.swiper-button-next {
  color: darkred;
  position: relative;
  right: -300px;
  top: -145px;
}

.services-section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  width: max;
}

.services-section .separation-line {
  border-top: 10px dotted rgb(17, 37, 17);
  min-width: 100px;
  max-height: 0;
  margin-bottom: 2.5em;
}

.service-options {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  width: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  transition: all .2s ease;
}

.services img {
  margin-bottom: 0.5em;
  border-radius: 16px;
  object-fit: cover;
  width: 300px;
  height: 200px;
  cursor: pointer;
  border: 2px solid darkred;
}

.services img:hover, 
.bestsellers img:hover,
.cta:hover {
  box-shadow: 0 0 10px white;
  transition: all .2s ease;
  cursor: pointer;
}


.services:hover,
.bestsellers:hover,
.cta:hover {
  transform: scale(1.05);
  transition: all .2s ease;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.contact-section .separation-line,
.bestsellers-section .separation-line, 
.testimonial-section .separation-line {
  border-top: 10px dotted darkgreen;
  min-width: 100px;
  max-height: 0;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 50%;
  gap: 1em;
  margin-top: 3em;
}

.contact-inputs input,
.contact-inputs select,
.contact-inputs textarea {
  min-height: 50px;
  min-width: 43%;
  border-radius: 8px;
  background-color: rgb(245, 245, 235);
  padding: 0 1em;
  border: 2px solid darkgreen;
  font-family: 'Lora', serif;
  font-size: 18px;
}

.contact-inputs textarea {
  padding-top: 1em;
}

#country {
  min-width: 47.3%;
}

#submit:hover {
  box-shadow: 0 0 10px white;
  transition: all .2s ease;
  cursor: pointer;
}

#submit:active {
  transform: translateY(2px);
  transition: none;
  background-color: darkgreen;
}

.names,
.contact-details,
.address {
  display: flex;
  justify-content: space-between;
}

/* .contact-inputs select {
  min-height: 50px;
  min-width: 200px;
} */


.intro{
    background-color: #196719;
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 5%;
    margin-top: 0;
}

#intro-pic{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}
#about-us{
  text-shadow: 5px -5px 10px rgb(125, 4, 4);
}
#welcome-left{
  max-width: 600px;
}

#sign-up{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
}
.cta {
    border: 2px solid #A3BC71;
    padding: 5px 10px;
    background: darkred; 
    border-radius: 16px; 
    transition: all .2s ease;
}   
#click{
    cursor: pointer;
    color: beige;
    text-decoration: none;
}





/*FOOTER*/


table {
  width: 100%;
  padding: 1em;
  padding-left: 4.7em;
  margin-bottom: 0;
}


table a:hover{
  background-color: rgb(83, 8, 8);
  color: rgb(138, 138, 138);
  padding: 0.4em;
  text-decoration: underline;
}

table a{
  color: beige;
  text-decoration: none;
}


footer {
  text-align: center;
  background-color: rgb(83, 8, 8);
  padding-bottom: 0.3em;
}

footer h3{
  font-size: medium;
  text-align: center;
  margin-top: 0;
}